/*variables*/
:root{
    --mainColor:#eaeaea;
	--secondaryColor:#fff;

    --border-color:#c1c1c1;
    --border-color-p2: rgb(9, 160, 65, 0.3);

	--mainText:black;
	--mainText-p2:#4CAF50;
	--secondaryText:#4b5156;

	--themeDotBorder:#24292e;

	--previewBg:rgb(251, 249, 243, 0.8);

	--previewshadow:#f0ead6;

	--imageBg:#efefef;
	--highlight-color: rgb(9, 160, 65, 0.2);

	--buttonColor:#a5a6a5;
}


html, body{
	padding: 0;
	margin: 0;
}

body *{
	transition: 0.3s;
}


h1, h2, h3, h4, h5, h6, strong{
	color: var(--mainText);
	font-family: 'Russo One', sans-serif;
	font-weight: 500;
}

p, li, span, label, input, textarea{
color: var(--secondaryText);
font-family: 'Roboto Mono', monospace;
}


/*link properties
1. delete the underline
2. change color */
a{
	text-decoration: none;
	color: #17a2b8
}

ul{
	list-style: none;
}

h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}

/*section1

border size is 1px and solid type */ 
.s1{
	background-color: var(--mainColor);
	border-color:1px solid var(--border-color);
	overflow:auto;
}

/*section2*/ 
.s2{
	background-color: var(--secondaryColor);
	border-color:1px solid var(--border-color);
	overflow:auto;
}

.main-continer{
	width: 1200px;
	margin: 0 auto;

}


.greeting-wrapper{
	display: grid;
	text-align: center;
    align-content: center;
}


.intro-wrapper{
	background-color: var(--secondaryColor);
	border:1px solid var(--border-color);
	border-radius: 5px 5px 0 0;


	-webkit-box-shadow: -1px 1px 3px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'nav-wrapper nav-wrapper' /* 3em */
        'left-column right-column' /* 30em */
        ;
}

#highlight{
    background-color: var(--highlight-color);
}

/*

p2
p2   propertie
p2

*/
.gallary-wrapper{
	background-color: var(--secondaryColor);
	border:1px solid var(--border-color);
	border-radius: 5px 5px 0 0;


	-webkit-box-shadow: -1px 1px 3px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'nav-wrapper   nav-wrapper' /* 3em */
        'left-column-p2 left-column-p2'
        'mid-column-p2 mid-column-p2'
        ' right-column-p2 right-column-p2 '  /* 30em */
        ;
}
/*

p2
p2   propertie
p2

*/


.nav-wrapper{
	border-radius: 5px 5px 0 0;
	grid-area:nav-wrapper;
   border-bottom: 1px solid var(--border-color);
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: var(--mainColor);
}

#navigation a{
    color: var(--mainText)
}

#navigation{
	margin:0;
	padding: 10px;
}

#navigation  li{
	display: inline-block;
	margin-right: 5px
	margin-left:5px;
}


.dots-wrapper{
    display: flex;
    padding: 10px;
}

/* color the dots
1. dot one is red.
2. dot two is yellow.
3.dot three is grenn.
*/

#dot-1{
	background-color: #FC6058;
}
#dot-2{
	background-color: #FEC02F;
}
#dot-3{
	background-color: #2ACA3E;
}



.browser-dot{
	background-color: black;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	margin: 5px;


	-webkit-box-shadow: -1px 1px 3px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

}


.left-column{
	grid-area:left-column;
	padding-top: 40px;
	padding-bottom: 40px;
}



/*

p2
p2   propertie <img id="picByMe" src="images\Maz.jpg">
p2

*/
.left-column-p2{
	grid-area:left-column-p2;
	padding: 13px
}
.mid-column-p2{
	grid-area:mid-column-p2;
	padding: 13px
	

}
.right-column-p2{
	grid-area:right-column-p2;
	padding: 13px

}

#picByMe{
	margin:0 auto;
	height: 670px;
	width: 420px;

	object-fit: cover;
	border:2px solid var(--border-color)
}

#picByMe2{
	margin:0 auto;
	height: 820px;
	width: 620px;

	object-fit: cover;
	border:2px solid var(--border-color)
}
/*

p2
p2   propertie
p2

*/



#pro_pic{
	display: block;
	margin:0 auto;


	height: 200px;
	width: 200px;
	object-fit: cover;
	border:2px solid var(--border-color)
}


#theme-option-wrapper{
	display: flex;
	justify-content: center;
}


.theme-dot{
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background-color: black;


	margin: 5px;
	border:2px solid var(--themeDotBorder);

    -webkit-box-shadow: -1px 1px 3px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

    cursor: pointer;
}

.theme-dot:hover{
	border-width: 5px;
}

/*background colors options*/
#light-mode{
	background-color: #C0C0C0;
}

#green-mode{
	background-color: #78866b;
}

#pink-mode{
	background-color: #FFE4B5;
}



#settings-note{
	font-size: 12px;
	font-style: italic;
	text-align: center;
}




.right-column{
	grid-area:right-column;
	display: grid;
	align-content: center;

	padding-top: 50px;
	padding-bottom: 50px;
}


#preview-shadow{
	background-color: var(--previewshadow);
	width: 300px;
	height: 180px;
	padding-left: 30px;
	padding-top: 30px;
}


#preview{
	width: 300px;
	border:1.5px solid #17a2b8;
	background-color: var(--previewBg);
	padding:15px;
    position: relative;
}


.corner{
	width: 7px;
	height: 7px;
	border-radius: 50%;
	border:1.5px solid #17a2b8;
	background-color: #fff;
	position: absolute;
}

#corner-topleft{
	top: -5px;
	left: -5px
}
#corner-topright{
	top: -5px;
	right: -5px
}

#corner-bmtright{
	bottom: -5px;
	right: -5px
}
#corner-btmleft{
	bottom: -5px;
	left: -5px
}



.about-wrapper{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	/*
     repate this action,
     auto fit az many columns as you can into this raw
     repat this way with min max say that the column should not be smaller than 32-px 
     so when its crushing go natural and expand the columns

	*/
	padding-bottom: 50px;
	padding-top: 50px;
	gap:100px;
}

#lang_int{
	display: flex;
	justify-content: space-evenly;
	background-color: var(--previewshadow);
}


.social-link{
	display: block;
	margin:0 auto;
	text-align: center;	
}
#social_img{
	width: 200px;
	height: 380px;
	margin-left: 15px;
	padding:9px 9px;
    background-color: var(--imageBg);
    border-radius: 2%;
    box-shadow: 0 2px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 2px 2px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 2px 3px rgba(34, 25, 25, 0.4);
}

.post-wrapper{
	display: grid;
	grid-template-columns: repeat(auto-fit, 320px);
	gap:20px;
	justify-content: center;
}

.post{
	border:1px solid var(--border-color);
    -webkit-box-shadow: -1px 1px 3px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}


.thumbnail{
	display: block;
	width: 100%;
	height:230px;

}

.post-preview{
	background-color: #fff;
	padding: 15px;
}


.post-title{
	color:black;
	margin: 0;
}

.post-intro{
	color:#4b5156;
	font-size: 14px;
}


#contact-form{
	display: block;
	max-width: 600px; /*to make it responsive*/
	margin: 0 auto;
	border: 1px solid var(--border-color);
	padding: 15px;
	border-radius: 5px;
	background-color: var(--mainColor);
	margin-bottom: 50px;
}

#contact-form label{
	line-height: 2.7em;
}

#contact-form textarea{
	min-height: 100px;
	font-size: 14px;
}


.input-field{
    width: 100%;
    padding-top: 10px; /* expending the size of the field*/
    padding-bottom: 10px;
    background-color: var(--secondaryColor);
    border-radius: 5px;
    border:1px solid var(--border-color);
    font-size: 14px;
}

#submit-btn:hover {
  box-shadow: none;
  color: #777;
}
#submit-btn:active {
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.25);
}

#submit-btn{
	margin-top: 10px; /*creat some space*/
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #fff;
	background-color: var(--buttonColor);
	border: 1px solid var(--border-color);
	border-radius: 4px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
	cursor: pointer;
	transition: all 0.1s ease-in;
}

#back-btn{
    display: grid;
	grid-template-columns: repeat(auto-fit, 320px);
	gap:20px;
	justify-content: center;
	white-space: nowrap;
	margin: 20px; /*creat some space*/
	padding: 0px 0px;
	color: #fff;
	background-color: var(--buttonColor);
	
}
#back-btn:hover {
  background-color: var(--border-color-p2); /* Green */
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#logo{
    margin:0 auto;
	height: 300px;
	width: 300px;

	object-fit: cover;
	border:2px solid var(--border-color)
}
#pos{
	margin:0 auto;
	width: 340px;
	height:230px;

	object-fit: cover;
	border:2px solid var(--border-color)
}

@media screen and (max-width: 1200px){
	.main-continer{
		width: 95%;
	}
}



@media screen and (max-width: 800px){
	.intro-wrapper{
        grid-template-columns: 1fr;
        grid-template-areas: 
            'nav-wrapper' /* 3em */
            'left-column'
            'right-column' /* 30em */
        ;
	}

	.right-column{
		justify-content: center;
	}
	h1 { font-size: 48px;}
    h2 { font-size: 28px;}
    h3 { font-size: 20px;}
    h4 { font-size: 16px;}
    h5 { font-size: 12px;}
    h6 { font-size: 8px;}
    p { font-size: 12px;}
    ul{ font-size: 14px;}

    .thumbnail{
	display: block;
	width: 100%;
	height:120px;
    }

    .post-wrapper{
	display: grid;
	grid-template-columns: repeat(auto-fit, 220px);
	gap:5px;
	justify-content: center;
   }

   #social_img{
	width: 130px;
	height: 250px;
	margin-left: 15px;
	padding:9px 9px;
    background-color: var(--imageBg);
    border-radius: 2%;
    box-shadow: 0 2px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 2px 2px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 2px 3px rgba(34, 25, 25, 0.4);
    }



    .gallary-wrapper{
        grid-template-columns: 1fr;
        grid-template-areas: 
            'nav-wrapper navigation' /* 3em */
            'left-column-p2 left-column-p2'
            'mid-column-p2 mid-column-p2'
            'right-column-p2 right-column-p2' /* 30em */
        ;
	}
	#logo{
        margin:0 auto;
	    height: 100px;
	    width: 100px;

	    object-fit: cover;
	    border:2px solid var(--border-color)
    }
    #pos{
	    margin:0 auto;
	    width: 100px;
	    height:65px;
	    object-fit: cover;
	    border:2px solid var(--border-color)
    }

    #picByMe{
	    margin:0 auto;
	    height: 240px;
	    width: 145px;

	    object-fit: cover;
	    border:2px solid var(--border-color)
    }

    #picByMe2{
	    margin:0 auto;
	    height: 340px;
	    width: 230px;

	    object-fit: cover;
	    border:2px solid var(--border-color)
    }


}
